@font-face {
	font-family: "PT Sans";
	src: url("PTSans-Bold.woff2") format("woff2"), url("PTSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("PTSans-Regular.woff2") format("woff2"), url("PTSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;

	color: #242424;

	background-color: #f2f2f2;
	overflow-x: hidden;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
}

.navigation {
	width: 1060px;
	height: 70px;
	margin: 0 auto;
}
.page-header {
	position: relative;
	background-color: #ffffff;
	color: #000;
}

.navigation-list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 20px 17px;
	gap: 34px;

	position: absolute;

	left: 239px;
	top: -16px;

	list-style: none;
}

.navigation-link {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
}
.navigation-item:nth-child(1) {
	flex: none;
	order: 0;
	flex-grow: 0;
}
.navigation-item:nth-child(2) {
	flex: none;
	order: 1;
	flex-grow: 0;
}
.navigation-item:nth-child(3) {
	flex: none;
	order: 2;
	flex-grow: 0;
}

.navigation-user {
	left: 75.09%;
	right: 0%;
	top: 0%;
	bottom: 5.71%;
	list-style: none;
}

.promo-img {
	width: 100%;
	min-height: 485px;
	background-image: url("../img/svg/decor.svg"), url("../img/main-background.png");
	background-position: 0% 100.1%, center 30.5%;
	background-repeat: no-repeat;
	background-size: auto, cover;
	background-color: #ffffff;
}
.promo-img img {
	position: relative;
	left: 371px;
	top: 51px;
}

.promo-first {
	width: 1200px;
	height: 282px;
	background: #ffffff;
	text-align: center;
}
.promo-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	width: 720px;
	height: 72px;
	margin-left: 240px;
	margin-top: 63px;
	
}
.promo-description {
	font-size: 22px;
line-height: 36px;
text-align: center;
color: #333333;
width: 720px;
height: 36px;
margin-left: 240px;
margin-bottom: 80px;
}

.search {
	background: #ffffff;
	text-align: center;
}
.mailing {
	width: 100%;
	min-height: 411px;
	background-color: #fff;
	background-image: url(../img/background.png);
	text-align: center;
}
.page-footer {
	background-color: #fff;
}
.cotacts-fone {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}
