@font-face {
	font-family: "PT Sans";
	src: url("PTSans-Bold.woff2") format("woff2"), url("PTSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("PTSans-Regular.woff2") format("woff2"), url("PTSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;

	color: #242424;

	background-color: #f2f2f2;
	overflow-x: hidden;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
}
.button {
	display: inline-block;
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	background-color: #756257;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	/* текст по средине кнопки */
	display: table-cell;
	vertical-align: middle;

	border: none;
}
.form-title {
	margin-left: 312px;
}
.button-find {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	width: 575px;
	height: 60px;
	border-radius: 10px;
}
.button-hier {
	width: 160px;
	height: 37px;
	font-size: 16px;
	line-height: 20px;
	border-radius: 4px;
}
.navigation {
	width: 1060px;
	height: 70px;
	margin: 0 auto;
}
.page-header {
	position: relative;
	background-color: #ffffff;
	color: #000;
}

.navigation-list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 20px 17px;
	gap: 34px;

	position: absolute;

	left: 239px;
	top: -16px;

	list-style: none;
}

.navigation-link {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
}
.navigation-item:nth-child(1) {
	flex: none;
	order: 0;
	flex-grow: 0;
}
.navigation-item:nth-child(2) {
	flex: none;
	order: 1;
	flex-grow: 0;
}
.navigation-item:nth-child(3) {
	flex: none;
	order: 2;
	flex-grow: 0;
}

.navigation-user {
	left: 75.09%;
	right: 0%;
	top: 0%;
	bottom: 5.71%;
	list-style: none;
}

.promo-img {
	width: 100%;
	min-height: 485px;
	background-image: url("../img/svg/decor.svg"), url("../img/main-background.png");
	background-position: 0% 100.1%, center 30.5%;
	background-repeat: no-repeat;
	background-size: auto, cover;
	background-color: #ffffff;
}
.promo-img img {
	position: relative;
	left: 371px;
	top: 51px;
}

.promo-first {
	width: 1200px;
	height: 282px;
	background: #ffffff;
	text-align: center;
}
.promo-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	width: 720px;
	height: 72px;
	margin-left: 240px;
	margin-top: 63px;
}

/* приимущества */

.promo-description {
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	color: #333333;
	width: 720px;
	height: 36px;
	margin-left: 240px;
	margin-bottom: 80px;
}

.description-list {
	display: flex;
	list-style: none;
	margin: 0 0;
	padding: 0;
}
.description-item {
	width: 400px;
	height: 384px;
	text-align: center;
	background: rgba(131, 179, 211, 0.12);
}
.advantages-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.advantages-item {
	width: 400px;
	height: 384px;
	text-align: center;
	background: rgba(131, 179, 211, 0.12);
}
.description-blue {
	background: #83b3d3;
}
h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}
.description-item h3 {
	margin-top: 97px;
}
.description-item span {
	margin-top: 30px;
}
.description-item p {
	margin-top: 30px;
}
.advantages-item p {
	margin-top: 20px;
}
.advantages p {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}
.description-blue h3 {
	color: #ffffff;
}
.description-blue p {
	color: #ffffff;
}
.description-blue span {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
}
.house h3::before {
	content: "";
	display: block;
	width: 75px;
	height: 72px;
	margin: 89px 0px 23px 163px;
	background-image: url("../img/svg/icon-house.svg");
	background-repeat: no-repeat;
}
.food h3::before {
	content: "";
	display: block;
	width: 74px;
	height: 70px;
	margin: 89px 0px 23px 163px;
	background-image: url("../img/svg/icon-food.svg");
	background-repeat: no-repeat;
}
.gift h3::before {
	content: "";
	display: block;
	width: 75px;
	height: 72px;
	margin: 85px 0px 23px 168px;
	padding-bottom: 5px;
	background-image: url("../img/svg/icon-gift.svg");
	background-repeat: no-repeat;
}

.food {
	background: #ffffff;
	width: 400px;
	min-height: 384px;
}
.road {
	background: rgba(131, 179, 211, 0.2);
}

.search {
	background: #ffffff;
	text-align: center;
}
.search-titel {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}
.search-text {
	font-size: 22px;
	line-height: 26px;
	color: #333333;
}
.mailing {
	width: 100%;
	min-height: 411px;
	background-color: #fff;
	background-image: url(../img/background.png);
	text-align: center;
	color: #ffffff;
}
.mailing-titel {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}
.mailing-text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}
.mailing-button {
	width: 200px;
	height: 60px;
	background: #83b3d3;
	border-radius: 0px 10px 10px 0px;
}
.mailing-subscribe {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}
.cotacts-fone {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.inner-header {
	width: 100%;
	height: 408px;
	background-image: url(../img/catalog-background.png);
}
.inner-header-titel {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	color: #ffffff;
}
.hotels-link {
	font-size: 16px;
	line-height: 21px;

	color: #ffffff;
}
.filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #ffffff;
}
.filter-section {
	display: inline-block;
}
.apply-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	width: 160px;
	height: 48px;
	background: #83b3d3;
	border-radius: 4px;
}
.reset-button {
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
	background: none;
	border: none;
	padding: 0;
}
.hotel-found {
	font-weight: 700;
	font-size: 30px;
	line-height: 39px;

	text-transform: uppercase;
}
.load-more {
	width: 619.83px;
	height: 60px;

	background: #83b3d3;
	border-radius: 4px;
}
.pagination {
	list-style: none;
}
.pagination-link {
	width: 55px;
	height: 55px;
	background-color: #83b3d3;
	border-radius: 4px;

	font-weight: 700;
	font-size: 20px;
	line-height: 26px;

	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.pagination-curent {
	background: #f2f2f2;
}
.sorting-page {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #333333;
}
.mailing-list-titel {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;

	text-align: center;
	text-transform: uppercase;
	color: #000000;
}
.mailing-list-description {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}
.field {
	width: 600px;
	height: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	align-items: center;
	background: #f2f2f2;
	border-radius: 10px 0px 0px 10px;
	border: none;
}
.mailing-list-button {
	width: 200px;
	height: 60px;
	background: #83b3d3;
	border-radius: 0px 10px 10px 0px;
}
.mailing-list-subscribe {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.hotel-list {
	display: flex;
	flex-wrap: wrap;

	background: #ffffff;
	list-style: none;
}

.hotel-card {
	height: 438px;
	width: 340px;
	padding: 20px;
	gap: 18px;
}
.hotel-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: #000000;
}
.hotel-type-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #333333;
}
.hotel-rating-number {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;

	text-transform: uppercase;
}
.hotel-details-link {
	width: 133.01px;
	height: 37px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}
.hotel-book-link {
	width: 140.94px;
	height: 37px;
	border-radius: 4px;
}
.link-green {
	background: #7db54f;
}

.page-footer {
	background: #fff;
	width: 1200px;
	height: 120px;
	display: flex;
	justify-content: space-between;
}

.footer-social-list {
	display: flex;
}
